body{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: greenyellow;
    height: 13vh;
    width: 100vw;
    border-radius: 5px;
    
}
nav{
    height: 5vh;
    width: 90vw;
    background-color: green;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
h5{
    color: white;
}
main{
    margin: 7px;
    display: flex;
    justify-content: space-between;
}
aside{
    background-color: orange;
    height: 30vh;
    width: 20vw;
    border-radius: 5px;
}
.maincuadro{
    background-color: red;
    height: 30vh;
    width: 50vw;
    border-radius: 5px;
   
}
article{
    margin: 20px;
    height: 4vh;
    width: 40vw;
    background-color: whitesmoke;
    border-radius: 5px;
}
.aside1{
    text-align: center;
}
.aside2{
    text-align: center;
}
#h4_main{
    margin-left: 15px;
    color: aliceblue;
}
#h5_nav{
    margin-left: 8px;
}
footer{
    background-color: purple;
    height: 7vh;
    width: 100vw;
    border-radius: 5px;
}
#h5_footer{
    margin-left: 10px;
}